.lucielle{
    width: 100%;
    height: 70vh;
     background-color: rgb(255, 255, 255)/*rgb(28, 28, 133)rgb(0, 0, 0)*/; 
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}


.conteneur{
    width: 50%;
    margin: auto;
}



.img1{
    background-image: url('../image/img1.jpg');
    width: 400px;
    max-width: 50%;
    height: 300px;
    background-size: cover;
    margin: auto;
    justify-content: center;
    align-items: center;
   
    border-radius: 40px;
    /* box-shadow: 20px 10px 15px 10px rgba(255, 252, 252, 0.5);); */
    transition: 0.5s;
    transform-style: preserve-3d;
    animation-delay: 3s;
    animation: animation1 2s linear;
}


 .img1:hover{
    transform: rotate(360deg);
} 

@keyframes animation1 {
    from{
        transform: translateX(-7OOpx);
    }
}
@keyframes animation2{
    from{
        transform: translateY(-100px);
    }
}
.text1{
    
    
    max-height: 200px;
    flex: 1;
    text-align: left;
    margin-right: 30px;
    font-size: 18px;
    letter-spacing: 0.5px;
    font-family:  "Edu AU VIC WA NT Hand";
    margin-left: 5%;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
    font-weight: 600;
}