
.header_nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 20px;
    flex-wrap: wrap;
}
.header_logo {
    font-size: 30px;
    font-family:"Playwrite HR", cursive;
    background: linear-gradient( to left, red,rgb(205, 29, 29),rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-weight: 800;
    padding: 10px 20px;
    cursor: default;  
}

.header_button{
    padding: 9px 20px;
    margin: 0 2px;

    border-radius: 20px;
    border: none;
    outline: none;

    background-color: rgb(80, 80, 180) ;
    color: white;
    font-size: 15px;
    font-weight: 500px;
    line-height: 43px;
    font-family:  "Edu AU VIC WA NT Hand", cursive;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(254, 246, 246);
}  
.header_button:hover, .header_auth .header_button:nth-child(2){
    background-color: rgb(241, 14, 14);
    color: rgb(0, 0, 0);
}


body{
    background-color: rgb(33, 33, 71);
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}