
.header_nav{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0px;
    width: 100%;
    flex-wrap: wrap;
    /* background-color: rgba(197, 223, 247, 0.4); */
}
.header_logo {
    font-size: 30px;
    font-family:"Playwrite HR", cursive;
    /* background: linear-gradient( to left, red,rgb(205, 29, 29),rgb(255, 255, 255)); */
    background: rgb(63, 0, 235)/*white*/;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    color: transparent;
    font-weight: 800;
    padding: 10px 20px;
    cursor: default;  
}

.header_button{
    padding: 2px 15px;
    margin: 2px 2px;

    border-radius: 10px;
    border: none;
    outline: none;

    background-color:transparent ;
    /* color: rgb(255, 255, 255); */
    font-size: 15px;
    font-weight: 500px;
    line-height: 43px;
    font-family:  "Edu AU VIC WA NT Hand", cursive;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: rgb(47, 0, 174);
}  

/* , .header_auth .header_button:nth-child(2) */
.header_button:hover {
    background-color: rgba(191, 205, 251, 0.5);
    font-weight: 200;
}


body{
    /* background-color: rgb(255, 255, 255); */
    color: rgb(0, 0, 0);
    height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    /* display: flex; */
}